[Unit]
Description=Run QC Health Watchdog every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=qc-watchdog.service

[Install]
WantedBy=timers.target
